<html>
    <head>
        <title>Hello Css</title>
        <style>
            p { color: darkslategray; }
        </style>
    </head>
    <body>
        <p>Hello @Name</p>
    </body>
</html>
@code {
    [Parameter] public string? Name { get; set; }
}