@using Tests.ViewModels
@model HelloWorldViewModel
<html>
    <head>
        <title>Hello Css</title>
        <style>
            p { color: darkslategray; }
        </style>
    </head>
    <body>
        <p>Hello @Model.Name</p>
    </body>
</html>